<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Fabri Damazio" suffix=" · Blog">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <!-- <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script> -->
    <header class="bg-white shadow">
      <div class="container mx-auto max-w-5xl px-4 py-6 flex flex-col sm:flex-row sm:justify-between sm:items-center">
        <div>
          <a href={~p"/"}>
            <h1 class="text-2xl font-bold text-zinc-600 hover:text-zinc-900">Fabricio Damazio</h1>
            <p class="text-gray-500 text-sm">{gettext("motto")}</p>
          </a>
        </div>
        <nav class="space-x-4 mt-4 sm:mt-0 mr-2 flex items-center">
          <a
            href={generate_locale_url(@conn, "pt")}
            class="text-xl opacity-90 hover:opacity-60 hover:scale-110 transition-transform duration-200"
            title="Português"
          >
            🇧🇷
          </a>
          <a
            href={generate_locale_url(@conn, "en")}
            class="text-xl opacity-90 hover:opacity-60 hover:scale-110 transition-transform duration-200"
            title="English"
          >
            🇺🇸
          </a>
          <a
            href={generate_locale_url(@conn, "zh")}
            class="text-xl opacity-90 hover:opacity-60 hover:scale-110 transition-transform duration-200"
            title="中文"
          >
            🇨🇳
          </a>
          <a
            href="/about"
            class="ml-4 text-zinc-600 hover:text-zinc-900 hover:font-bold transition"
          >
            {gettext("About me")}
          </a>
        </nav>
      </div>
    </header>
    <script>
      (function () {
        const hasLocaleQuery = window.location.search.includes("locale=");
        const hasLocaleCookie = document.cookie.split('; ').some(cookie => cookie.startsWith("locale="));
        
        if (!hasLocaleQuery && !hasLocaleCookie) {
          const lang = navigator.language || navigator.userLanguage; //ex: pt-BR
          const locale = lang.split("-")[0]; //ex: pt, en, etc

          const url = new URL(window.location.href);
          url.searchParams.set("locale", locale);

          window.location.href = url.toString();
        }
      })();
    </script>
  </head>
  <body class="bg-white">
    <.flash_group flash={@flash} />
    {@inner_content}
  </body>
</html>
