<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="description" content="Fabri Damazio's blog." />
    <.live_title default="Fabri Damazio" suffix=" · Blog">
      {assigns[:page_title]}
    </.live_title>
    <link rel="preconnect" href="https://fabridamazio.com" />
    <link
      rel="preload"
      href={~p"/assets/app.css"}
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
      phx-track-static
    />
    <link rel="preload" href="/images/br_flag.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="/images/us_flag.svg" as="image" type="image/svg+xml" />
    <link rel="preload" href="/images/cn_flag.svg" as="image" type="image/svg+xml" />
    <noscript><link rel="stylesheet" href={~p"/assets/app.css"} phx-track-static /></noscript>
    <!-- <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script> -->
    <header class="bg-gray-800 shadow">
      <div class="container mx-auto max-w-5xl px-4 py-6 flex flex-col sm:flex-row sm:justify-between sm:items-center">
        <div>
          <a href={~p"/"}>
            <h1 class="text-2xl font-bold text-gray-200 hover:text-gray-400">Fabricio Damazio</h1>
            <p class="text-gray-400 text-sm">{gettext("motto")}</p>
          </a>
        </div>
        <nav class="space-x-4 mt-4 sm:mt-0 mr-2 flex items-center">
          <a
            href={generate_locale_url(@conn, "pt")}
            class="text-xl opacity-90 hover:opacity-60 hover:scale-110 transition-transform duration-200"
            title="Português"
          >
            <img src="/images/br_flag.svg" alt="Brasil" width="24" height="24" class="inline-block" />
          </a>
          <a
            href={generate_locale_url(@conn, "en")}
            class="text-xl opacity-90 hover:opacity-60 hover:scale-110 transition-transform duration-200"
            title="English"
          >
            <img src="/images/us_flag.svg" alt="United States" width="24" height="24" class="inline-block" />
          </a>
          <a
            href={generate_locale_url(@conn, "zh")}
            class="text-xl opacity-90 hover:opacity-60 hover:scale-110 transition-transform duration-200"
            title="中文"
          >
            <img src="/images/cn_flag.svg" alt="United States" width="24" height="24" class="inline-block" />
          </a>
          <a
            href="/about"
            class="ml-4 text-gray-200 font-bold hover:text-gray-400 hover:font-bold transition"
          >
            {gettext("About me")}
          </a>
        </nav>
      </div>
    </header>
    <script>
      (function () {
        const hasLocaleQuery = window.location.search.includes("locale=");
        const hasLocaleCookie = document.cookie.split('; ').some(cookie => cookie.startsWith("locale="));
        
        if (!hasLocaleQuery && !hasLocaleCookie) {
          const lang = navigator.language || navigator.userLanguage; //ex: pt-BR
          const locale = lang.split("-")[0]; //ex: pt, en, etc

          const url = new URL(window.location.href);
          url.searchParams.set("locale", locale);

          window.location.href = url.toString();
        }
      })();
    </script>
  </head>
  <body>
    <.flash_group flash={@flash} />
    {@inner_content}
  </body>
</html>
